In [16]:
s1=set() # set & dict both are define in {} braces
s1

set()

In [15]:
s={}
type(s) # by default it is dict

dict

In [17]:
s1={1,3,4,32,50,90}
s1

{1, 3, 4, 32, 50, 90}

In [18]:
type(s1)

set

In [20]:
s2={'b','a','d','c'}
s2

{'a', 'b', 'c', 'd'}

In [21]:
type(s2)

set

In [24]:
s3={1,2.3,'sam','True',1+2j}  #prit random
s3

{(1+2j), 1, 2.3, 'True', 'sam'}

In [3]:
s1.add(1) #duplicates not allowed in set so not added 1

In [25]:
s1

{1, 3, 4, 32, 50, 90}

In [5]:
s1.add(100)

In [6]:
s1

{1, 3, 4, 32, 50, 90, 100}

In [7]:
s1.add(5)

In [56]:
s1.append(66)

AttributeError: 'set' object has no attribute 'append'

In [8]:
s1 # order the elements in set

{1, 3, 4, 5, 32, 50, 90, 100}

In [9]:
print(s1)  #unordered

{32, 1, 50, 3, 4, 100, 5, 90}

In [10]:
s3={50,90}
s3

{50, 90}

In [11]:
s3.clear()

In [12]:
s3

set()

In [13]:
s4=s1.copy()
s4

{1, 3, 4, 5, 32, 50, 90, 100}

In [14]:
s1[0] # index not alowed in set

TypeError: 'set' object is not subscriptable

In [ ]:
s1[1:5] # Slicing not alowed in set

In [ ]:
s1

In [ ]:
s1.pop() # random nbr deleted

In [ ]:
s1

In [ ]:
s1.pop(0) # pop with arg will be error

In [ ]:
s1

In [ ]:
s1.remove(5)

In [ ]:
s1

In [ ]:
s1.discard(4)

In [ ]:
s1

In [ ]:
s1.discard(1000)

In [ ]:
s1

In [ ]:
1000 in s1

SET OPERATIONS

In [27]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c={8,9,10}

In [28]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
a|b|c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [33]:
a|c

{1, 2, 3, 4, 5, 8, 9, 10}

In [34]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [35]:
a & b

{4, 5}

In [36]:
a & c

set()

In [37]:
a.intersection(b)

{4, 5}

In [38]:
a.intersection(c)

set()

In [39]:
a.difference(b)

{1, 2, 3}

In [40]:
a-b

{1, 2, 3}

In [ ]:
b.difference(a)

In [41]:
b-c

{4, 5, 6, 7}

In [46]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{6, 7}
{8, 9, 10}

In [49]:
b.difference_update(a)

In [50]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{6, 7}
{8, 9, 10}

In [51]:
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 7}

In [52]:
a^b

{1, 2, 3, 4, 5, 6, 7}

In [53]:
b^c

{6, 7, 8, 9, 10}

In [54]:
a={1, 2, 3, 4, 5}
b={4, 5, 6, 7,8}

In [55]:
a^b

{1, 2, 3, 6, 7, 8}

# SUPERSET (dad) , SUBSET (son), DISJOINT (neighbour)

In [58]:
a={1,2,3,4,5,6,7,8,9}
b={3,4,5,6,7,8}
c={10,20,20,40}

In [59]:
a.issuperset(b)

True

In [61]:
b.issubset(a)

True

In [62]:
c.isdisjoint(a)

True

In [63]:
a={1,2,3,4,5,6,7,8,9}
b={3,4,5,6,7,8}
c={10,20,20,40}

In [65]:
b.isdisjoint(a)

False

In [66]:
b.isdisjoint(c)

True

In [69]:
a={1,2,3,4,5,6,7,8,9}
b={35,45,55,65,75,85}
c={10,20,20,40}

In [70]:
a.isdisjoint(b)

True

In [71]:
b.issubset(a)

False

In [72]:
c.isdisjoint(a)

True

# DICTIONARY

In [73]:
d={}
d

{}

In [74]:
type(d)

dict

In [75]:
d={1:'one',2:'two',3:'three'}
d

{1: 'one', 2: 'two', 3: 'three'}

In [77]:
d.keys()

dict_keys([1, 2, 3])

In [79]:
d.values()

dict_values(['one', 'two', 'three'])

In [80]:
d.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [84]:
d[3]

'three'

In [87]:
for i in d:
    print(i)

1
2
3

In [96]:
d.get(3)

'three'

In [95]:
d[3]

'three'

In [98]:
for i in d:
    print(i,':',d[i])

1 : one
2 : two
3 : three

In [204]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'ca mydict')}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'B': ('Bat', 'ca mydict')}

In [205]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'c': None, 'a': None, 'd': None, 'b': None}

In [207]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'c': 10, 'a': 10, 'd': 10, 'b': 10}

In [209]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'c': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30]}

In [210]:
value.append(40) 
mydict3

{'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

# Accessing Items

In [211]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [212]:
mydict[1] # Access item using key

'one'

In [213]:
mydict.get(1) # Access item using get() method

'one'

In [214]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [215]:
mydict1['Name'] # Access item using key

'Asif'

In [216]:
mydict1.get('job') # Access item using get() method

'Analyst'

# Add, Remove & Change Items

In [217]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [218]:
mydict1['DOB'] = 1990 # Changing Dictionary Items
mydict1['Address'] = 'Rourkela' 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1990, 'Address': 'Rourkela'}

In [219]:
dict1 = {'DOB':2025}
mydict1.update(dict1) 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 2025, 'Address': 'Rourkela'}

In [220]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 2025,
 'Address': 'Rourkela',
 'Job': 'Analyst'}

In [221]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 2025, 'Address': 'Rourkela'}

In [222]:
mydict1.popitem() # A random item is removed

('Address', 'Rourkela')

In [223]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 2025}

In [224]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 2025}

In [225]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [226]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

# Loop through a Dictionary

In [227]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' }
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [229]:
for i in mydict1:
    print(i ,':',mydict1[i]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki

In [230]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Asif
12345
1991
Hilsinki

# Dictionary Membership

In [231]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [232]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [233]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

In [234]:
'ID' in mydict1

True

In [235]:
'Address' in mydict1

False

In [236]:
all(mydict1) # Will Return false as one value is false (Value 0)

True

In [100]:
tup1 = () # Empty tuple
tup1

()

In [101]:
tup2 = (10,30,60) # tuple of integers numbers
tup2

(10, 30, 60)

In [102]:
tup3 = (10.77,30.66,60.89) # tuple of float numbers
tup3

(10.77, 30.66, 60.89)

In [103]:
tup4 = ('one','two' , "three") # tuple of strings
tup4

('one', 'two', 'three')

In [104]:
tup5 = ('Asif', 25 ,(50, 100),(150, 90)) # Nested tuples
tup5

('Asif', 25, (50, 100), (150, 90))

In [105]:
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types
tup6

(100, 'Asif', 17.765)

In [106]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))
tup7

('Asif', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [107]:
len(tup7) #Length of list

6

In [ ]:
# Tuple Indexing

In [110]:
tup2

(10, 30, 60)

In [111]:
tup2[0] # Retreive first element of the tuple

10

In [113]:
tup4

('one', 'two', 'three')

In [112]:
tup4[0] # Retreive first element of the tuple

'one'

In [114]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple ele

'o'

In [115]:
tup4[-1] # Last item of the tuple

'three'

In [116]:
tup5[-1] # Last item of the tuple

(150, 90)

#Tuple Slicing

In [119]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [120]:
mytuple[0:3] # Return all items from 0th to 3rd index

('one', 'two', 'three')

In [121]:
mytuple[2:5] # List all items from 2nd to 5th

('three', 'four', 'five')

In [122]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [123]:
mytuple[:2] # Return first two items

('one', 'two')

In [124]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [125]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [126]:
mytuple[-1] # Return last item of the tuple

'eight'

In [127]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change Items

In [128]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [129]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [130]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [131]:
del mytuple # Deleting entire tuple object is possible

In [133]:
mytuple

NameError: name 'mytuple' is not defined

In [134]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [135]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [136]:
for i in mytuple: 
    print(i)

one
two
three
four
five
six
seven
eight

In [137]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [144]:
mytuple = ('one' , 'two' , 'three' , 'one' , 'five' , 'six' , 'seven' , 'eight')

In [142]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [145]:
mytuple.count('one') # Number of times item "one" occurred in the tuple.

2

In [147]:
mytuple.count('two') # Occurence of item 'two' in the tuple

1

#Tuple Membership

In [148]:
'one' in mytuple # Check if 'one' exist in the list

True

In [149]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [162]:
    if 'three' in mytuple: 
       print('Three is present in the tuple')
    else:
       print('Three is not present in the tuple')

Three is present in the tuple

In [163]:
    if 'eleven' in mytuple: # Check if 'eleven' exist in the list
        print('eleven is present in the tuple')
    else:
        print('eleven is not present in the tuple')

eleven is not present in the tuple

#Index Position

In [164]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [165]:
mytuple.index('five') # Index of first element equal to 'five

4

#Sorting

In [166]:
mytuple2 = (43,67,99,12,6,90,67)

In [167]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [168]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

#Sets
1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. We can add or remove items from it.

In [169]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [170]:
len(myset) #Length of the set

5

In [171]:
my_set = {1,1,2,2,3,4,5,5}
my_set # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [172]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [173]:
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [174]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [175]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like li
myset3

TypeError: unhashable type: 'list'

In [176]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

#Add & Remove Items

In [178]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [179]:
myset.add('NINE') # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [180]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [181]:
myset.remove('NINE') # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [182]:
myset.discard('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [183]:
myset.clear() # Delete all items in a set
myset

set()

# Copy Set

In [184]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [185]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [186]:
id(myset) , id(myset1) # The address of both myset & myset1 will be the same as

(3068159102304, 3068159102304)

In [187]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [188]:
id(my_set) # The address of my_set will be different from myset because my_set i

3068159108352

In [189]:
myset.add('nine') 
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [190]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [192]:
my_set # Copy of the set won't be impacted due to changes made on the original S

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Other Builtin functions

In [196]:
A = {1, 2, 3, 4, 10}
A

{1, 2, 3, 4, 10}

In [197]:
sum(A)

20

In [198]:
max(A)

10

In [199]:
min(A)

1

In [200]:
len(A)

5

In [201]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 10)]

In [202]:
D= sorted(A,reverse=True) 
D

[10, 4, 3, 2, 1]

In [203]:
sorted(D)

[1, 2, 3, 4, 10]