In [1]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [2]:
txt = "  abc def ghi  "
txt.rstrip()

'  abc def ghi'

In [3]:
txt = "  abc def ghi  "
txt.strip()

'abc def ghi'

In [4]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (739327747.py, line 2)

In [5]:
#Using escape character to allow illegal characters 
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

In [7]:
list1 = [] # Empty List
list1

[]

In [8]:
print(type(list1))

<class 'list'>

In [10]:
list2 = [10,30,60] # List of integers numbers
list2

[10, 30, 60]

In [11]:
list3 = [10.77,30.66,60.89] # List of float numbers
list3

[10.77, 30.66, 60.89]

In [12]:
list4 = ['one','two' , "three"] # List of strings
list4

['one', 'two', 'three']

In [13]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists
list5

['Asif', 25, [50, 100], [150, 90]]

In [14]:
list6 = [100, 'Asif', 17.765] # List of mixed data types
list6

[100, 'Asif', 17.765]

In [15]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}]

In [16]:
len(list6) #Length of list

3

In [21]:
list2[0] # Retreive first element of the list
list4[0] # Retreive first element of the list
list4[0][0] # Nested indexing - Access the first character of the first list e
list4[-1] # Last item of the list
list5[-1] # Last item of the list

[150, 90]

In [25]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [26]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [27]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item a

['three', 'four', 'five']

In [28]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [29]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [30]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [31]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [32]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [33]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [34]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [35]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [37]:
mylist[0]=1
mylist[1]=2
mylist[2]=3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [38]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [39]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

In [42]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [43]:
mylist1 = mylist # Create a new reference "mylist1"

In [44]:
id(mylist) , id(mylist1)

(3083462913024, 3083462913024)

In [46]:
mylist2 = mylist.copy() # Create a copy of the list
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [47]:
id(mylist2)

3083462915136

In [50]:
mylist[0] = 1
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [53]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

[10, 30, 60, 10, 30, 60]

In [54]:
list1.extend(list2) #Append list2 with list1
list1

[10, 30, 60, 10, 30, 60]

In [55]:
'one' in list1 # Check if 'one' exist in the list

False

In [56]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [60]:
list1

[10, 30, 60, 10, 30, 60]

In [61]:
if 'three' in list1: 
print('Three is present in the list')
else:
print('Three is not present in the list')

IndentationError: expected an indented block after 'if' statement on line 1 (1568939367.py, line 2)

In [58]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
print('eleven is present in the list')
else:
print('eleven is not present in the list')

IndentationError: expected an indented block after 'if' statement on line 1 (1752579650.py, line 2)

In [62]:
list1.reverse() # Reverse the list
list1

[60, 30, 10, 60, 30, 10]

In [63]:
list1 = list1[::-1] # Reverse the list
list1

[10, 30, 60, 10, 30, 60]

In [64]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [65]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [66]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)
# Returns a new sorted list and doesn't change original l

[11, 21, 33, 65, 88, 98]

In [67]:
list1

[10, 30, 60, 10, 30, 60]

In [68]:
for i in list1: print(i)

10
30
60
10
30
60

In [69]:
for i in enumerate(list1): 
    print(i)

(0, 10)
(1, 30)
(2, 60)
(3, 10)
(4, 30)
(5, 60)

In [71]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
list10

['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [73]:
list10.count('four') # Number of times item "one" occurred in the list.

1

In [74]:
L1 = [1,2,3,4,0]
L1

[1, 2, 3, 4, 0]

In [75]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [76]:
any(L1) # Will Return True as we have items in the list with True value

True

In [78]:
L2 = [1,2,3,4,True,False]
L2

[1, 2, 3, 4, True, False]

In [79]:
all(L2) # Returns false as one value is false

False

In [80]:
any(L2) # Will Return True as we have items in the list with True value

True

In [81]:
L3 = [1,2,3,True]
L3

[1, 2, 3, True]

In [82]:
all(L3) # Will return True as all items in the list are True

True