# ADVANCED PYTHON

In [1]:
if True:
    print('Data Science')

Data Science

In [8]:
if False:
    print('python')
print('bye bye')

bye bye

In [9]:
if True:
    print('python')
print('bye bye')

python
bye bye

In [10]:
if True:
    print('Data Science')
else:
    print('Bye Bye Now')

Data Science

In [2]:
if True: # indentiation is always 4 spaces
    print('Data Science') 
    print('need to spend everyday 3-4hr')

Data Science
need to spend everyday 3-4hr

In [10]:
if False: # indentiation is always 4 spaces
    print('Data Science') 
    
print('good bye')

good bye

In [4]:
if True: # indentiation is always 4 spaces
    print('Data Science') 
  
print('good bye')

Data Science
good bye

In [5]:
if True: # indentiation is always 4 spaces
    print('Data Science')
else:
    print('good bye')

Data Science

In [11]:
if False: # indentiation is always 4 spaces
    print('Data Science')
else:
    print('good bye')

good bye

# EVEN NUMBERS

In [14]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('Odd number')

Odd number

In [15]:
x = 9
r = x % 2 

if r == 0:
    print('Even number')
    
if r == 1:
    print('odd number')

odd number

In [16]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
print('odd number')

odd number

In [17]:
x = 4
r = x % 2 

if r == 0:
    print('Even number')
print('odd number')

Even number
odd number

In [18]:
x = 17
r = x % 2 

if r == 0:
    print('Even number')
    
if r != 0:
    print('odd number')

odd number

In [19]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number') 
else:
    print('Odd Number')

Odd Number

In [23]:
x = 6
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print(f'{x} is greater than 5 ')
  
else:
    print('Odd Number')

Even number
6 is greater than 5

In [24]:
x = 2
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('not greater')
  
else:
    print('Odd Number')

Even number
not greater

In [25]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
 print("Leap Year")
else:
 print("Not a Leap Year")

Enter a year:  2025

Not a Leap Year

In [26]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')

    
    else:
        print('number is lesser number')
  
else:
    print('Odd Number')

Even number
number is lesser number

In [29]:
# elif it wont check till the block once you find the output it wont go to next line
# you can try with multiple parameter 1, 2 & 3 value in x 

x = 3

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

Three

In [30]:
# elif it wont check till the block once you find the output it wont go to next line
# you can try with multiple parameter 1, 2 & 3 value in x 

x = 7

if(x == 1):
    print('one')
    
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

else:
    print('number not found')

number not found

# Loops

In [31]:
i = 1         

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [33]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('world')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
world
world
world
world

data science
world
world
world
world

data science
world
world
world
world

data science
world
world
world
world

data science
world
world
world
world

In [34]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' world', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience world world world world
 datascience world world world world
 datascience world world world world
 datascience world world world world
 datascience world world world world