In [1]:
z=3+4j

In [3]:
print(z.real)
print(z.imag)

3.0
4.0

In [7]:
a=3+4j
b=1+2j

print(a+b)
print(a-b)
print(a*b)
print(a/b)

(4+6j)
(2+2j)
(-5+10j)
(2.2-0.4j)

In [11]:
z=3+4j
print(abs(z))  #magnitude

5.0

In [14]:
import cmath

z=1+1j

print(cmath.phase(z))
print(cmath.polar(z))
print(cmath.sqrt(z))

0.7853981633974483
(1.4142135623730951, 0.7853981633974483)
(1.09868411346781+0.45508986056222733j)

In [16]:
a=10 
b=20
a 
b

20

In [18]:
print(a)
print(b)

10
20

In [19]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [21]:
num1=20 
num2=30
add=num1+num2 
print(add)

50

In [22]:
num1=20 
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [28]:
name='Sampat' 
age=20
city='Rourkela'
print('My name is',name,'and i am',age,'years old form',city)
print('hello my name is {}, and i am {} years old from {} '.format(name,age,city))

My name is Sampat and i am 20 years old form Rourkela
hello my name is Sampat, and i am 20 years old from Rourkela

In [27]:
num1=20 
num2=30
add=num1+num2
print('The addition of {} and {} is= {}'.format(num1,num2,add))

The addition of 20 and 30 is= 50

In [29]:
num1=100 
num2=25 
num3=333
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2)
avg1=round((num1+num2+num3)/3,2)
# The avrage of num1,num2,num3 is = avg
print('The avrage of {}, {}, and {} is= {} or {}'.format(num1,num2,num3, avg,avg1))

The avrage of 100, 25, and 333 is= 152.66666666666666 or 152.67

In [30]:
round(avg,2) # round of till 2 digite after decimal

152.67

In [31]:
num1=20 
num2=30
add=num1+num2
print(f'The addition of {num1} and {num2} is= {add}') # alwase prefer this

The addition of 20 and 30 is= 50

In [34]:
name='Sampat' 
age=20
city='Rourkela'
print(f'hello my name is {name}, and i am {age} year old, from {city}.')

hello my name is Sampat, and i am 20 year old, from Rourkela.

In [36]:
num1=100 
num2=25 
num3=333
avg=round((num1+num2+num3)/3,2) # or we can use avg=round(num1+num2+num3)/3,2) # The avrage of num1,num2,num3 is = avg
print(f'The avrage of {num1}, {num2} and {num3} is = {avg}')

The avrage of 100, 25 and 333 is = 152.67

In [37]:
num1=10 
num2=20
add = num1+ num2
print('The addition of',num1,'and',num2,'is=',add)
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

In [40]:
print('hello') # 1st statement
print('good morning') # 2nd statement)

hello
good morning

In [1]:
print('hello', end=' ') # 1st statement
print('good day') # 2nd statement

hello good day

In [43]:
print('hello','Bhai','how are you ?',sep='--->')

hello--->Bhai--->how are you ?

In [45]:
print('hello','hai','how are you',sep=' & ')

hello & hai & how are you

In [46]:
print('hello','hai','how are you',sep=' @ ')

hello @ hai @ how are you

In [47]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [48]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [49]:
print(3,'.',sep='') # see now space setteld(also use to remove space B/W words)

3.

In [50]:
print(1,2,end=' ') 
print(3,'.',sep='') # will print 1 2 3.

1 2 3.

In [51]:
# Single line comment
letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1
greeting = 'Hello, World!'  # String could be  a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13
sentence = "I hope you are enjoying 30 days of python challenge"
print(sentence)

P
1
Hello, World!
13
I hope you are enjoying 30 days of python challenge

In [52]:
# Multiline String
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)
# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [54]:
# String Concatenation
first_name = 'Sampat'
last_name = 'Das'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) # Asabeneh Yetayeh
# Checking length of a string using len() builtin function
print(len(first_name))  # 8
print(len(last_name))   # 7
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 15

Sampat Das
6
3
True
10

In [55]:
#### Unpacking characters 
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t 
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

In [56]:
# Accessing characters in strings by index
language = 'Python'
first_letter = language[0]
print(first_letter) # P
second_letter = language[1]
print(second_letter) # y
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter) # n

P
y
n

In [57]:
# If we want to start from right end we can use negative indexing. -1 is the last index
language = 'Python'
last_letter = language[-1]
print(last_letter) # n
second_last = language[-2]
print(second_last) # o

n
o

In [58]:
# Slicing

language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
last_three = language[3:6]
print(last_three) # hon
# Another way
last_three = language[-3:]
print(last_three)   # hon
last_three = language[3:]
print(last_three)   # hon

hon
hon
hon

In [59]:
# Skipping character while splitting Python strings
language = 'Python'
pto = language[0:6:2] # 
print(pto) # pto

Pto

In [60]:
# Escape sequence
print('I hope every one enjoying the python challenge.\nDo you ?') # line break
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash  symbol (\\)') # To write a back slash
print('In every programming language it starts with \"Hello, World!\"')

I hope every one enjoying the python challenge.
Do you ?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

In [61]:
## String Methods
# capitalize(): Converts the first character the string to Capital Letter

challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

Thirty days of python

In [62]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..)

challenge = 'thirty days of python'
print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1
print(challenge.count('th')) # 2`

3
1
2

In [63]:
# endswith(): Checks if a string ends with a specified ending

challenge = 'thirty days of python'
print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

True
False

In [64]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'thirty\tdays\tof\tpython'
print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

thirty  days    of      python
thirty    days      of        python

In [65]:
# find(): Returns the index of first occurrence of substring

challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [66]:
# format()	formats string into nicer output    
first_name = 'Asabeneh'
last_name = 'Yetayeh'
job = 'teacher'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I live in {}.'.format(first_name, last_name, job, country)
print(sentence) # I am Asabeneh Yetayeh. I am a teacher. I live in Finland.

I am Asabeneh Yetayeh. I am a teacher. I live in Finland.

In [67]:
radius = 10
pi = 3.14
area = pi # radius ## 2
result = 'The area of circle with {} is {}'.format(str(radius), str(area))
print(result) # The area of circle with 10 is 314.0

The area of circle with 10 is 3.14

In [68]:
# index(): Returns the index of substring
challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [69]:

# isalnum(): Checks alphanumeric character

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

True

In [70]:
challenge = '30DaysPython'
print(challenge.isalnum()) # True

True

In [71]:

challenge = 'thirty days of python'
print(challenge.isalnum()) # False

False

In [72]:
challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

False

In [73]:
# isalpha(): Checks if all characters are alphabets

challenge = 'thirty days of python'
print(challenge.isalpha()) # True
num = '123'
print(num.isalpha())      # False

False
False

In [74]:
# isdecimal(): Checks Decimal Characters

challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [76]:
# isdigit(): Checks Digit Characters
challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.digit())   # True

False

AttributeError: 'str' object has no attribute 'digit'

In [77]:
# isdecimal():Checks decimal characters

num = '10'
print(num.isdecimal()) # True
num = '10.5'
print(num.isdecimal()) # False

True
False

In [78]:
# isidentifier():Checks for valid identifier means it check if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

In [79]:

# islower():Checks if all alphabets in a string are lowercase

challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'Thirty days of python'
print(challenge.islower()) # False

True
False

In [80]:
# isupper(): returns if all characters are uppercase characters

challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True

False
True

In [81]:
# isnumeric():Checks numeric characters

num = '10'
print(num.isnumeric())      # True
print('ten'.isnumeric())    # False

True
False

In [82]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '#, '.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

HTML#, CSS#, JavaScript#, React

In [83]:
# strip(): Removes both leading and trailing characters

challenge = ' thirty days of python '
print(challenge.strip('y')) # 5

 thirty days of python

In [84]:
# replace(): Replaces substring inside

challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'

thirty days of coding

In [85]:
# split():Splits String from Left

challenge = 'thirty days of python'
print(challenge.split()) # ['thirty', 'days', 'of', 'python']

['thirty', 'days', 'of', 'python']

In [86]:
# title(): Returns a Title Cased String

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [87]:
# swapcase(): Checks if String Starts with the Specified String
  
challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [88]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True
challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

TYPE CASTING 
# Converting one data type into another data type 
# from all data type to integer except complex & string with text
# from all data type to float except complex & string with text
# from all data type to complex
# non zero= True | Zero= False

In [1]:
int(2.3) # float to int

2

In [2]:
int(2.3,3.4) # usr must have to pass only 1 argumnet

TypeError: 'float' object cannot be interpreted as an integer

In [3]:
int(True)

1

In [4]:
int(False)

0

In [5]:
int(1+2j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [6]:
int('10')

10

In [7]:
int('ten')

ValueError: invalid literal for int() with base 10: 'ten'

In [8]:
float(10)

10.0

In [9]:
float(10,20)

TypeError: float expected at most 1 argument, got 2

In [10]:
float(True)

1.0

In [11]:
float(False)

0.0

In [12]:
float(1+2j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [13]:
float('10')

10.0

In [14]:
float('ten')

ValueError: could not convert string to float: 'ten'

#click on jupyterLab --> cntl+p (to save   work in pdf format)

In [15]:
complex(10)

(10+0j)

In [16]:
complex(10,20)

(10+20j)

In [17]:
complex(10,20,30)

TypeError: complex() takes at most 2 arguments (3 given)

In [18]:
complex(2.3)

(2.3+0j)

In [19]:
complex(2.3,3.4)

(2.3+3.4j)

In [20]:
complex(10,'10')

TypeError: complex() second arg can't be a string

In [21]:
complex('10')

(10+0j)

In [22]:
complex(10,int('10'))

(10+10j)

In [23]:
complex(True)

(1+0j)

In [24]:
complex(False)

0j

In [25]:
complex(False,False)

0j

In [26]:
bool(1)

True

In [27]:
bool(13)

True

In [28]:
bool()

False

In [29]:
bool(1.2)

True

In [31]:
bool('1')

True

In [32]:
bool('ten')

True

In [33]:
print(str(1))

1

In [34]:
print(str(1.2))

1.2

In [35]:
print(str(True))

True

In [36]:
print(str(False))

False

In [37]:
print(str(1+2j))

(1+2j)